html {
    height: 100%;
}

body {
    line-height: 1.4rem !important;
    font-family: 'Open Sans', sans-serif !important;
    background-color: rgba(236, 244, 243, 1);
}

a:hover {
    text-decoration: none;
}

.link-custom {
    color: #3498DB;
}

.modal-content {
    background-color: rgba(196, 196, 196, 1);
}

.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #006A71, #006A71, #006A71);
    overflow-x: hidden;
    transition: all 400ms;
}

.sidenav a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #ffffff;
    display: block;
    font-family: 'Righteous', cursive;
    transition: all 250ms;
}

.sidenav a:hover {
    color: #dadada;
}

.element-container {
    width: 100%;
    height: 60px;
    position: relative;
    margin-top: 1rem;
}

.element {
    position: absolute;
    margin-top: 6.3%;
}

.active {
    position: relative;
    background: rgba(0, 79, 69, 100);
    transition: all 500ms;
}

.active-management {
    position: relative;
    height: 70px;
    background: rgba(196, 196, 196, 0.7);
}

.active-management::after {
    content: "";
    top: 0;
    right: 0;
    width: 3%;
    position: absolute;
    background: #ffffff;
    height: 100%;
}

.nav {
    width: 100%;
    background: rgb(104, 176, 171);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    height: 5rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.link-custom {
    color: #ffffff;
}

.custom-form {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px;
}

.custom-form:focus {
    outline: none !important;
    border: 0px;
}

.nav-container {
    margin-left: 265px;
    margin-top: 1.2rem;
}

.user-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 4.2rem;
    margin-top: 1.1rem;
    display: inline-block;
}

.mr-negative {
    margin-top: -6.4px;
}

.main {
    margin-left: 245px;
    padding: 0px 10px;
    margin-top: 6rem;
}

.card-shadow {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.page-item.active .page-link {
    background-color: #3498DB !important;
    border-color: #3498DB !important;
}

.cursor-pointer {
    cursor: pointer;
}

.ml-6 {
    margin-left: 4rem;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: .9rem;
    }
    .sidenav {
        width: 80px;
    }
    .main {
        margin-left: 90px;
    }
    svg {
        width: 200px;
    }
    .active {
        height: 50px;
    }
    .active::after {
        width: 6px;
    }
    .active-management {
        height: 52px;
    }
    .active-management::after {
        width: 6px;
    }
    .option {
        display: none;
    }
    .nav-container {
        margin-left: 125px;
    }
}