<template>
    <div id="app">
        <div class="">
        <div class="container pt-4 mb-3">
            <h6 class="text-muted"><b>Book Management</b></h6>
            <div class="row mt-2">
                <div class="col-11 col-sm-11 col-md-11 col-lg-11">
                    <div class="row justify-content-end mr-1 mb-3">
                        <button data-toggle="modal" data-target="#addModal" v-on:click="showAddModal" class="btn rounded-pill btn-outline-primary btn-sm"><img src="../../../assets/images/Add Book.png" height="30"></button>
                    </div>
                    <div class="card pl-4 pt-4 pr-4 mb-4 card-shadow">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Author</th>
                                        <th scope="col">Copies <br />Available</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(book, i) in books" :key="i">
                                        <td>{{book.name}}</td>
                                        <td>{{book.author}}</td>
                                        <td>{{book.copies}}</td>
                                        <td>{{book.category.category }}</td>
                                        <td>
                                            <a type="button" data-toggle="modal" data-target="#editModal" v-on:click="showEditModal(i)"><img src="@/assets/images/edit.png" class="mr-2 cursor-pointer" height="25"></a>
                                            <a type="button" data-toggle="modal" data-target="#deleteModal" v-on:click="showDeleteModal(i)"><img src="../../../assets/images/delete.png" class="mr-2" height="16"></a><img src="../../../assets/images/borrow.png" class="cursor-pointer mr-2" height="20"><img src="../../../assets/images/return.png" class="cursor-pointer" height="20"></td>
                                    </tr>
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="addModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Patron</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body pl-5 pr-5">
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="email" v-model="input.name" class="form-control" id="name" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="author">Author</label>
                            <input type="email" v-model="input.author" class="form-control" id="author" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="copies">Copies</label>
                            <input type="number" v-model="input.copies" class="form-control" id="copies" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="customSelect">Category</label>
                            <select id="customSelect" v-model="input.category_id" name="cars" class="custom-select">
                                <option selected disabled>Please select a category</option>
                                 <option v-for="(categ, i) in categories" :key="i" :value="categ.id">{{categ.category}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button data-toggle="modal" data-target="#addModal" data-dismiss="modal" v-on:click="addBook" class="btn rounded-pill btn-outline-primary btn-sm"><img src="../../../assets/images/addpatron.png" height="30"></button>
                </div>
            </div>
        </div>
    </div>

<div id="editModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Patron</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body pl-5 pr-5">
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" v-model="editBook.name" class="form-control" id="name" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="author">Author</label>
                            <input type="name" v-model="editBook.author" class="form-control" id="author" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="copies">Copies</label>
                            <input type="number" v-model="editBook.copies" class="form-control" id="copies" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="customSelect">Category</label>
                            <select id="customSelect" v-model="editBook.category" name="cars" class="custom-select">
                                <option selected disabled>Please select a category</option>
                                <option v-for="(categ, i) in categories" :key="i" :value="categ.id">{{categ.category}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button data-toggle="modal" data-target="#editModal" data-dismiss="modal" v-on:click="updateBook" class="btn rounded-pill btn-outline-primary btn-sm"><img src="../../../assets/images/addpatron.png" height="30"></button>
                </div>
            </div>
        </div>
    </div>

    <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" v-on:click="deleteBook"> Yes </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
import { mapState, mapActions, mapGetters} from 'vuex';
import {toast} from '@/assets/js/toast/vue-toast'
export default {
    mixins: [toast],
    name: "App",
    
  data(){
    return {
      editBook: {},
      input: {
          name: "",
          author: "",
          copies: "",
          category_id: "",
      },
      deleteIndex: "",
      editIndex: "",
    };
  },
  computed: {
    ...mapState("books", ["books", "categories"]),
    ...mapState("patrons", ["patrons"])
  },
  methods: {
    ...mapActions('books', ['getBooks', "deleteBook", "storeBook", "updateBook", "getCategories"]),
    ...mapActions("patrons", ["getPatrons"]),
    ...mapActions("borrowed", ["createBorrowed"]),
    ...mapActions("returned", ["createReturned"]),
    ...mapGetters("books", ["getBooksData"]),
    showError(data){
      for (const key of Object.keys(data)) {
        this.showErrorToast(data[key][0])
      }
    },
    showAddModal() {
      this.$bvModal.show("addModal");
    },
    showDeleteModal(i) {
      this.deleteIndex = i;
      this.$bvModal.show("deleteModal");
    },
    showEditModal(i) {
      this.editIndex = i;
      this.editBook = ({...this.books[i]})
      this.$bvModal.show("editModal");
    },
    deleteBook() {
      this.$delete(this.books, this.deleteIndex);
      this.$bvModal.hide("deleteModal");
    },
    async addBook(){
        const res = await this.storeBook({...this.input})
      if(res.status == 200){
        this.$bvModal.hide(this.modalId);
        this.showSuccessToast('Book saved successfully!')
      }
      else{
        this.showError(res.data)
      }
    },
    async bookDelete(){
      const res = await this.deleteBook(this.id);
      if(res.status !== 200)
       this.showError(res.data)
       
      this.$bvModal.hide('deleteModal');
    },
  },
  mounted() {
      this.getCategories();
      this.getBooks();
  },
  };
</script>
<style>
@import "../../../assets/css/style.css";
</style>