.sidebar-container {
    position: fixed;
    width: 120px;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #1a1a1a;
    color: #fff;
}

.content-container {
    padding-top: 20px;
}

.wrapper {
    background: url(images/1stframe.png);
    width: 100%;
    padding-top: 53%;
    background-size: cover;
}

.sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

.sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 100px;
}

.sidebar-navigation li a {
    padding: 40px 15px 10px 30px;
    display: block;
    color: #fff;
}

.sidebar-navigation li .fa {
    margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
}

.sidebar-navigation li::before {
    background-color: #2574A9;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}

.sidebar-navigation li:hover::before {
    width: 100%;
}

.content-container {
    padding-left: 100px;
}

.jumbotron {
    color: #000000;
    font-style: normal;
    font-weight: normal;
    left: 1228px;
    top: 322px;
}

.secondframe {
    background: url(images/2ndframe.png);
    width: 100%;
    padding-top: 53%;
    background-size: cover;
}

.jeans-btn {
    max-width: 25%;
}

.clothes-btn {
    max-width: 25%;
}

.suits-btn {
    max-width: 25%;
}

.pangination {
    max-width: 80%;
}