 <template>
    <div class="nav">
        <div class="nav-container">
            <div class="d-flex align-items-center">
                <img src="../../assets/images/Menu Rounded.png" height="30" class="position-relative mt-1">
                <img src="../../assets/images/search.png" height="25" class="position-relative mt-1">
            </div>
            <div class="user-container">
                <div class="d-flex align-items-center">
                    <img src="../../assets/images/user.png" height="38" class="mt-1 mr-2">
                    <a href="" class="link-custom">Log-out</a>
                </div>
            </div>
        </div>
    </div>
 </template>