<template>
    <div class="sidenav" id="app">
        <div class="logo">
            <div class="row mt-3 ml-3">
                <div class="col-3 col-sm-3 col-lg-3 pb-3">
                    <img src="../../assets/images/Logo.png" height="60" alt="" class="logo">
                </div>
                <div class="col-6 col-sm-6 col-lg-6 pt-3 ml-3">
                </div>
            </div>
        </div>


        <router-link to="/" :class="getRoute == '/' ? 'active' : ''">
            <div class="element-container " >
                <div class="element">
                    <img src="../../assets/images/Dashboard.png" height="40" class="ml-4 mt-1 position-absolute">
                </div>
            </div>
        </router-link>
        <router-link to="/patron" :class="getRoute == '/patron' ? 'active' : ''">
            <div class="element-container">
                <div class="element">
                    <img src="../../assets/images/Patron.png" height="40" class="ml-4 mt-2 position-absolute">
                </div>
            </div>
        </router-link>
        <router-link to="/books" :class="getRoute == '/books' ? 'active' : ''">
            <div class="element-container">
                <div class="element">
                    <img src="../../assets/images/Book Management.png" height="40" class="ml-4 mt-2 position-absolute">
                </div>
            </div>
        </router-link>
        <router-link to="/settings" class="" :class="getRoute == 'settings' ? 'active': ''">
            <div class="element-container">
                <div class="element">
                    <img src="../../assets/images/Settings.png" height="40" class="ml-4 mt-2 position-absolute">
                </div>
            </div>
        </router-link>
    </div>
</template>
<script>
export default {

  data() {
    return {
      data: ''
    }
  },
  mounted() {
    
  },
  computed: {
    getRoute: function(){
      return this.$route.path
    }
  }
};
</script>