<template>
    <div id="app">
        <SideBar isActive="settings"/>
        <NavBar />
    </div>
</template>

<script>
import SideBar from "../../navigation/SideBar";
import NavBar from "../../navigation/NavBar";
export default {
    components: { SideBar, NavBar },
  data(){
    return {
      msg: 'Hello World!'
    }
  },
  methods: {
    
  },
}
</script>