<template>
    <div id="app">
     
        <div class="">
        <div class="container pt-4">
            <h6 class="text-muted"><b>Patron Management</b></h6>
            <div class="row mt-2">
                <div class="col-11 col-sm-11 col-md-11 col-lg-11">
                    <div class="row justify-content-end mr-1 mb-3">
                        <button data-toggle="modal" data-target="#addModal" class="btn rounded-pill btn-outline-primary btn-sm"><img src="@/assets/images/addpatron.png" height="30"></button>
                    </div>
                    <div class="card pl-4 pt-4 pr-4 mb-4 card-shadow">  
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr >
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(patron, i) in patrons" :key="i">
                                        <td>{{patron.first_name +  " " +  patron.middle_name  + " " +  patron.last_name}}</td>
                                        <td>{{patron.email}}</td>
                                        <td>{{patron.date}}</td>
                                        <td>
                                            <a type="button" data-toggle="modal" data-target="#editModal" @click="showEditModal(patron, i)"><img src="@/assets/images/edit.png" class="mr-2" height="25"></a>
                                            <a type="button" data-toggle="modal" data-target="#deleteModal" @click="showDeleteModal(patron.id)"><img src="@/assets/images/delete.png" class="mr-2" height="16"></a>
                                        </td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="addModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Patron</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
            
                <div class="modal-body pl-5 pr-5">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">First Name</label>
                            <input type="email" v-model="input.firstname" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Middle Name</label>
                            <input type="email" v-model="input.middlename" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Last Name</label>
                            <input type="email" v-model="input.lastname" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Email address</label>
                            <input type="email" v-model="input.email" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button data-toggle="modal" data-target="#addModal" class="btn rounded-pill btn-outline-primary btn-sm" data-dismiss="modal" v-on:click="AddPatron"><img src="@/assets/images/addpatron.png" height="30"></button>
                </div>
            </div>
        </div>
    </div>

    <div id="editModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Patron</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body pl-5 pr-5">  
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">First Name</label>
                            <input type="text" v-model="input.first_name" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Middle Name</label>
                            <input type="text" v-model="input.middle_name" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Last Name</label>
                            <input type="text" v-model="input.last_name" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Email address</label>
                            <input type="email" v-model="input.email" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button data-toggle="modal" data-target="#editModal" class="btn rounded-pill btn-outline-primary btn-sm" data-dismiss="modal" v-on:click="patronUpdate"><img src="@/assets/images/addpatron.png" height="30"></button>
                </div>
            </div>
        </div>
    </div>

    <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">    
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-sm btn-secondary">Cancel</button>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" v-on:click="patronDelete"> Yes </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>
<script>
import { mapState, mapActions, mapGetters} from 'vuex';
import {toast} from '@/assets/js/toast/vue-toast'
export default {
    mixins: [toast],
    data(){ 
        return { 
            index: '',
            input: {
                firstname: "",
                middlename: "",
                lastname: "",
                email: "",
            },
        }
    },
     
  methods: {
    ...mapActions('patrons', ['getPatrons', 'storePatron', 'deletePatron', 'updatePatron']),
    ...mapGetters('patrons', ['getPatronData']),
    showEditModal(patron, index){
        this.input = {...patron}
        this.index = index
        this.$bvModal.show("editModal")
    },
        showDeleteModal(i) {
            this.index = i;
            this.$bvModal.show("deleteModal");
        },
        async AddPatron(){
            const res = await this.storePatron(this.input)
            if(res.status == 200){
            this.$bvModal.hide('addModal');
            this.showSuccessToast('Patron saved successfully!')
         }
        else {    
            this.showError(res.data)
        }
        },
        async patronDelete() {
            const res = await this.deletePatron(this.index)
            if(res.status == 200){
            this.$bvModal.hide('deleteModal')
        }
      else {
        this.showError(res.data)
      }
    },
    async patronUpdate(){
      const res = await this.updatePatron({data: this.input, index: this.index})
      if(res.status == 200){
        this.$bvModal.hide('editModal')
         this.showSuccessToast('Patron updated successfully!')
      }
      else {
        this.showError(res.data)
      }
    },
    clearFields() {
      this.input.first_name = "";
      this.input.middle_name = "";
      this.input.last_name = "";
      this.input.email = "";
    },
    showError(data){
      for (const key of Object.keys(data)) {
        this.showErrorToast(data[key][0]); 
      }
    }
  },
  computed:{
      ...mapState('patrons',['patrons'])
  },
  mounted() {
      this.getPatrons()
  }
};
</script>
<style>
@import "../../../assets/css/style.css";
</style>